@import "../../styles/global/globalVariables.scss";

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	background-color: rgb(10, 10, 10, 0.5);
	position: sticky;
	top: 0;

	.navbar-icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		.icon-item {
			font-size: 1.5rem;
		}

		.login-icon {
			color: #b7b7b7;
			font-size: 1.5rem;
		}
	}

	.user-name {
		font-weight: bold;
		display: flex;
		color: #b7b7b7;
		align-items: center;
		margin: 0;
	}

	.navbar-link {
		font-size: 15px;
		font-weight: bold;
		display: flex;
		color: #b7b7b7;
		text-decoration: none;
		text-align: center;
		align-items: center;
	}
	.navbar-link:hover {
		color: white;
	}

	.main {
		color: white;
		font-weight: bold;
		font-size: 1.5rem;

		@media (min-width: $desktop-media) {
			font-size: 2rem;
		}
	}

	.left-side-navbar {
		display: flex;
		width: 25%;
		margin-left: 1rem;

		.navbar-link {
			display: none;

			@media (min-width: $desktop-media) {
				margin-left: 1rem;
				display: block;
			}
		}
	}

	.right-side-navbar {
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-right: 1rem;

		.navbar-link {
			display: block;
		}
		.logout {
			border: 1px solid red;
			font-weight: bold;
			display: flex;
			color: #b7b7b7;
			align-items: center;
			height: 100%;
			font-size: 1.3rem;
			margin-left: 5px;
			cursor: pointer;
		}
	}
}
