.panel-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	z-index: 1;
	position: absolute;

	.login-panel {
		background-color: rgb(47, 42, 42);
		width: 70vw;
		height: 50vh;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: white;
		border-radius: 10px;

		form {
			display: flex;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			label {
				height: 70%;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				p {
					font-size: 2rem;
					margin-bottom: 2%;
				}

				input {
					width: 50%;
					font-size: 1.5rem;
					border: none;
					outline: none;
					border-radius: 5px;
					text-align: center;
				}

				.error {
					color: red;
					font-size: 1.2rem;
				}

				button {
					background-color: black;
					color: white;
					border: none;
					cursor: pointer;
					font-size: 1.5rem;
					width: 20%;
					border-radius: 5px;
				}
			}
		}
	}
}
