.panel-container {
	height: 93vh;
	width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
	

	.login-panel {
		position: absolute;
		height: 10rem;
		width: 20rem;
		background-color: rgb(190, 175, 175);
		border-radius: 3px;

		form {
			text-align: center;
			display: flex;
			height: 100%;
			align-items: center;
		}
	}
}
