.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	background-color: rgb(10, 10, 10, 0.5);
	position: sticky;
	top: 0;

	.navbar-link {
		font-weight: bold;
		display: flex;
		color: #b7b7b7;
		text-decoration: none;
		align-items: center;
	}
	.navbar-link:hover {
		color: white;
	}

	.main {
		color: white;
		font-weight: bold;
		font-size: 2rem;
	}

	.left-side-navbar {
		display: flex;
		width: 25%;
		margin-left: 1rem;

		.navbar-link {
			margin-left: 1rem;
		}
	}

	.right-side-navbar {
		width: 20%;
		display: flex;
		justify-content: flex-end;
		margin-right: 1rem;
		height: 3rem;

		.navbar-link {
			margin-right: 1rem;
		}
	}

	.search {
		height: 1.3rem;
		width: 1.3rem;
	}
}

@media (max-width: 768px) {
	.navbar {
		.main {
			font-size: 1.5rem;
		}
		.left-side-navbar {
			.navbar-link {
				display: none;
			}
		}
	}
}
