.fabar {
	color: white;
	font-size: 1.5rem;
}
.faxmark-offcanvas {
	color: white;
	font-size: 1.5rem;
}

.sidenav {
	width: 15rem;
	background-color: grey;
	position: absolute;
	height: 93vh;
	padding: 0 30px;
	left: -100%;
	transition: 1s;
	z-index: 1;
}

.sidenav.active {
	left: 0;
}

@media (max-width: 768px) {
	.sidenav {
		width: 150px;
	}
}
