.search-question {
	margin-top: 5px;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	color: white;
}
.search-box {
	display: flex;
	justify-content: space-around;
	margin: 0;

	button {
		height: 50px;
		width: 250px;
		border-radius: 10px;
		font-size: 1.5rem;
		background-color: black;
		border: none;
		font-weight: bold;
	}
	.active {
		background-color: lighten($color: black, $amount: 35);
		box-shadow: 5px 5px 10px black;
	}

	.link {
		cursor: pointer;
		text-decoration: none;
		color: white;
	}
}

@media (max-width: 576px) {
	.search-box {
		display: flex;
		flex-direction: column;
		align-items: center;

		button {
			width: 80%;
			margin-top: 10px;
		}
	}
}
