@import "../../styles/global/globalVariables.scss";
.active-icon {
	color: red;
}
.arrow {
	position: absolute;
	height: 2rem;
	width: 3rem;
	cursor: pointer;
	color: white;
	top: 35px;
	font-size: 2rem;

	@media (min-width: $mobile-media) {
		top: 60px;
		height: 3rem;
		width: 5rem;
		font-size: 2.5rem;
	}
	@media (min-width: $tablet-media) {
		top: 70px;
		font-size: 3rem;
	}
	@media (min-width: $desktop-media) {
		top: 80px;
		font-size: 3.5rem;
	}
}

.details {
	margin-top: 10%;
	margin-left: 5%;
	width: 90%;
	background-image: linear-gradient(rgb(54, 53, 53), black);
	color: white;
	border-radius: 3%;
	margin-bottom: 5%;

	@media (min-width: $mobile-media) {
		margin-top: 5%;
		margin-left: 15%;
		width: 70%;
	}
	@media (min-width: $tablet-media) {
		margin-left: 25%;
		width: 50%;
		border-radius: 5%;
	}

	@media (min-width: $desktop-media) {
		width: 40%;
		margin-left: 30%;
		border-radius: 5%;
	}

	img {
		margin-top: 5%;
		border-radius: 5%;
		width: 90%;
		margin-left: 5%;
	}

	.details-element {
		width: 90%;
		margin-left: 5%;

		.title {
			text-align: center;
			font-weight: bold;
			font-size: 1.5rem;
		}

		.overview {
			font-size: 1.2rem;
		}
	}

	.smaller-details {
		display: flex;
		justify-content: space-between;

		.smaller-details-right {
			display: flex;
			align-items: center;
			width: 150px;
			justify-content: space-around;
		}

		.production {
			height: 3rem;
			display: flex;
			align-items: center;
			font-size: 1.2rem;

			.date {
				font-weight: bold;
				margin-left: 5%;
			}
		}

		.vote {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: gold;
			width: 3rem;
			height: 3rem;
			font-size: 1.2rem;
			border-radius: 50%;
		}
	}
}
