@import "../../styles/global/globalVariables.scss";

.footer {
	height: 10vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	position: absolute;
	bottom: 0;
	width: 100%;

	@media (min-width: $tablet-media) {
		font-size: 1.2rem;
	}

	.icon {
		color: white;
		margin-right: 10px;
	}

	p {
		color: white;
	}
}
